:root { --color-neutral: 255, 255, 255;
    --color-neutral-50:     255,255,255;
    --color-neutral-100:    255,255,255;
    --color-neutral-200:    231,234,238;
    --color-neutral-300:    186,194,206;
    --color-neutral-400:    142,155,174;
    --color-neutral-500:    100,116,139;
    --color-neutral-600:    83,96,115;
    --color-neutral-700:    66,76,92;
    --color-neutral-800:    49,57,68;
    --color-neutral-900:    32,37,44;
    --color-primary-50:     255,255,255;
    --color-primary-100:    255,255,255;
    --color-primary-200:    234,226,240;
    --color-primary-300:    199,176,213;
    --color-primary-400:    164,126,186;
    --color-primary-500:    127,82,154;
    --color-primary-600:    105,68,127;
    --color-primary-700:    83,54,101;
    --color-primary-800:    61,39,74;
    --color-primary-900:    39,25,48;
    --color-secondary-50:     255,255,255;
    --color-secondary-100:    255,255,255;
    --color-secondary-200:    255,255,255;
    --color-secondary-300:    192,225,243;
    --color-secondary-400:    127,194,232;
    --color-secondary-500:    62,163,220;
    --color-secondary-600:    37,144,204;
    --color-secondary-700:    31,120,170;
    --color-secondary-800:    24,95,135;
    --color-secondary-900:    18,71,101;
}
