
<div class="flex items-center justify-between text-sm text-neutral-500 dark:text-neutral-400 py-6">
    <p>
        This project has received funding from the European Union’s Horizon<br>
        Europe Programme under GA 101129744 — EVERSE — <a href="https://ec.europa.eu/info/funding-tenders/opportunities/portal/screen/opportunities/topic-details/horizon-infra-2023-eosc-01-02"><b>HORIZON-INFRA-2023-EOSC-01-02</b></a>
    </p>
    
    <p>
        {{ with resources.Get "images/logos/eu.svg" }}
            <img src="{{ .RelPermalink }}" alt="European Commission Logo"/>
        {{ end }}
    </p>

</div>
